/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.sell__button .button{
		margin-top: 20px auto;
		float: none;
	}
	section.order .sell__description{
		text-align: center;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	/*hidden Sign In/Up width<768px*/
	.header__top__links{
		display: none;
		background-color: #585d61;
		margin-top: 15px;
		padding: 14px;
		position: absolute;
		vertical-align: middle;
		width: 100%;
	}
	.main__menu ul{
		display: none;
		position: absolute;
		background-color: #3797bf;
		width: 100%;
	}
	/* pt ecrane mici: afisarea meniului in jos; */
	.main__menu ul li{
		display: block;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	/*rezolva bag-ul cu disparitia Sign In/Up dupa abasarea butonului "user"*/
	.header__top__links{
		display: inline-block !important;
	}
	.main__menu ul{
		display: block !important;
	}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}